# Server
HOST=

# GitHub
GITHUB_TOKEN=
GITHUB_USERNAME=
GITHUB_API_ENDPOINT=

# Last.fm
LASTFM_API_KEY=
LASTFM_API_ENDPOINT=
LASTFM_USERNAME=

# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# Discord
NEXT_PUBLIC_DISCORD_USER_ID=

# Mastodon
MASTODON_API_ENDPOINT=

# WakaTime
WAKATIME_API_KEY=
WAKATIME_API_EDNPOINT=
WAKATIME_USERNAME=

# Etherscan / Blockchain
ETHERSCAN_API_KEY=
ETHERSCAN_API_ENDPOINT=
USDT_ADDRESS=

# AniList
NEXT_PUBLIC_ANILIST_USERNAME=

# MapBox (for Journey globe map)
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

STEAM_API_KEY=
STEAM_USER_ID=
