# Server
HOST=

# Public client API endpoints
# These values are embedded at build time and require a rebuild when changed.
NEXT_PUBLIC_GITHUB_USERNAME=andatoshiki
NEXT_PUBLIC_GITHUB_API_ENDPOINT=https://api.github.com
NEXT_PUBLIC_GITHUB_CONTRIBUTIONS_API_ENDPOINT=https://github-contributions-api.jogruber.de/v4
NEXT_PUBLIC_LASTFM_API_ENDPOINT=https://lastfm.andatoshiki.workers.dev
NEXT_PUBLIC_WAKAPI_API_ENDPOINT=https://wakatime.api.tosh1ki.de
NEXT_PUBLIC_WAKAPI_USERNAME=andatoshiki
NEXT_PUBLIC_LEETCODE_API_ENDPOINT=https://leetcode.toshiki.dev
NEXT_PUBLIC_LEETCODE_USERNAME=andatoshiki

# Discord
NEXT_PUBLIC_DISCORD_USER_ID=

# Mastodon
MASTODON_API_ENDPOINT=

# Etherscan / Blockchain
ETHERSCAN_API_KEY=
ETHERSCAN_API_ENDPOINT=
USDT_ADDRESS=

# AniList
NEXT_PUBLIC_ANILIST_USERNAME=

# MapBox (for Journey globe map)
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

STEAM_API_KEY=
STEAM_USER_ID=
