@media (prefers-reduced-motion) {
  #atstroke,
  #tbar {
    animation: none !important;
    stroke-dasharray: unset !important;
  }
}

#atstroke {
  stroke-dashoffset: 1px;
  stroke-dasharray: 641px 0;
  animation: scribeatstroke 10s ease forwards infinite;
  animation-delay: 0s;
  transform-origin: center;
  stroke: #000000;
  stroke-width: 6.5;
}

#tbar {
  stroke-dashoffset: 0.1px;
  stroke-dasharray: 98px 0;
  animation: scribetbar 10s ease forwards infinite;
  animation-delay: 0s;
  transform-origin: center;
  stroke: #000000;
  stroke-width: 6.5;
  opacity: 0;
}

@keyframes scribetbar {
  0% {
    stroke-dashoffset: 0px;
    stroke-dasharray: 0 98px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    stroke-dashoffset: 0;
  }
  85% {
    stroke-dasharray: 98px 0;
  }
  95%,
  to {
    stroke-dasharray: 0 100px;
    opacity: 1;
  }
}

@keyframes scribeatstroke {
  0% {
    stroke-dashoffset: 0px;
    stroke-dasharray: 0 641px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    stroke-dashoffset: 0;
  }
  85% {
    stroke-dasharray: 641px 0;
  }
  95%,
  to {
    stroke-dasharray: 0 641px;
    opacity: 1;
  }
}

.dark #atstroke {
  stroke: #ffffff;
}
.dark #tbar {
  stroke: #ffffff;
}
